html,body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #101010;
    height: 100%;
    font-family: 'Numans', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

h3{
    font-size: 60px;
    color: white;
    text-align: center;
}

#menuToggle{
    display: block;
    position: relative;
    top: -55px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover{
    color: tomato;
}

#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
    margin-left: 1720px;
}

nav{
    height: 70px;
    background-color: black;
}

h3{
    font-size: 60px;
    color: white;
    margin-left: 30px;
}

/*
 * Just a quick hamburger
 */
#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: white;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

#menuToggle span:first-child{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    background-color: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;

    background: black;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop9 flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    margin-top: 0px;
    padding-top: 0px;

    margin-left: 1580px;
}

#menu li{
    padding: 10px 0;
    font-size: 22px;
    text-align: center;
    font-style: bold;
    color:white;
}

#first-li{
    margin-top: 40px;
}

#second-li{
    margin-top: 20px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul{
    transform: none;
}

span{
    margin-left: 1720px;
}

.outside{
    display: flex;
}

.stats{
    border: 2px solid white;
    height: 500px;
    width: 900px;
    margin-left: 35px;
    margin-top: 70px;
}

h4{
    font-size: 30px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

h5{
    color: white;
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}

#first-h5{
    margin-top: 10px;
}

.toplist{
    border: 2px solid white;
    height: 500px;
    width: 900px;
    margin-left: 50px;
    margin-top: 70px;
}

.stat-header{
    border-bottom: 2px solid white;
}

.toplist-header{
    border-bottom: 2px solid white;
}

@media (max-width: 992px) {
    nav{
        height: 50px;
    }

    body{
        overflow-y: scroll;
    }
  
    h3{
        text-align: unset;
        margin-left: 20px;
        font-size: 35px;
    }
  
    span{
      margin-left: 570px;
    }
  
    #menuToggle{
      top: -37px;
    }
  
    #menuToggle input{
      margin-left: 570px;
    }
    
    #menu{
      margin-left: 400px;
      transform: translate(200%, 0);
    }

    .outside{
        display: block;
    }
    
    .stats{
        width: 600px;
        height: 600px;
        margin-top: 50px;
    }

    .toplist{
        margin-left: 35px;
        width: 600px;
        height: 600px;
    }
  }