{{ define "head" }}
    <link rel="stylesheet" href="/static/css/main.css"/>
{{ end }}

{{ define "content" }}
<section>
    <div class="card">
        <div class="card-header text-dark">
            <h3>Statistics</h3>
        </div>
        <div class="card-body">
            {{ if .Stats }}
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 id="time-header" class="">Time elapsed:</h5>
                        <div class="">
                            It has been <span class="value">{{ humanTimespan .Stats.Days }}</span> since you quit.
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h5 class="">Cigarettes you haven't smoked:</h5>
                        <div class="">
                            You abstained from <span class="value">{{ .Stats.PackCount }}</span> packs and <span class="value">{{ .Stats.PackRemainder }}</span> sticks, a total of <span class="value">{{ .Stats.TotalSticks }}</span> sticks.
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h5 class="">Saved money:</h5>
                        <div class="">
                            So far, you have saved <span class="value">{{ .Stats.TotalSavings }}</span> Forints by not smoking.
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h5 class="">Health benefits:</h5>
                        <div class="" id="health">
                            {{ benefitsAt .Stats.Days }}
                        </div>
                    </li>
                </ul>
            {{ else }}
                <h5>You have not set up a profile yet.</h5>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}}