{{ define "head" }}
    <link rel="stylesheet" href="/static/css/main.css"/>
{{ end }}

{{ define "content" }}
<section>
    <div class="edit-div">
        <div class="outside">
            {{ if .Stats }}
                <div class="stats">
                    <h4 class="stats-header">Your statistics</h4>

                    <h5 id="time-header" class="headers">Time elapsed:</h5>
                    <div class="value">
                        <h5 id="time">It has been {{ humanTimespan .Stats.Days }} since you quit.</h5>
                    </div>

                    <h5 class="headers">Cigarettes you haven't smoked:</h5>
                    <div class="value">
                        <h5 id="count">You abstained from {{ .Stats.PackCount }} packs and {{ .Stats.PackRemainder }} sticks, a total of {{ .Stats.TotalSticks }} sticks.</h5>
                    </div>

                    <h5 class="headers">Saved money:</h5>
                    <div class="value">
                        <h5 id="money">So far, you have saved {{ .Stats.TotalSavings }} Forints by not smoking.</h5>
                    </div>

                    <h5 class="headers">Health benefits:</h5>
                    <h5 class="begin" id="health">
                        {{ benefitsAt .Stats.Days }}
                    </h5>
                </div>
            {{ else }}
                <h5>You have not set up a profile yet.</h5>
            {{ end }}
        </div>
    </div>

</section>
{{ end }}}