{{ define "head" }}
{{ end }}

{{ define "content" }}
<section>
    <div class="card">
        <div class="card-header">
            <h2>Unauthorized!</h2>
        </div>
        <div class="card-body">
            <p>Please <a href="/login" class="text-decoration-none">log in</a> or <a href="/register" class="text-decoration-none">register</a> to continue.</p>
        </div>
    </div>
</section>
{{ end }}}