{{ if .is_authenticated }}
<nav class="p-3">
    <a href="/" class="text-decoration-none" id="menu-home">Home</a>
        <div id="menuToggle">
            <!--A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
            <input type="checkbox" />

            <!--Some spans to act as a hamburger. They are acting like a real hamburger, not that McDonalds stuff.-->
            <span></span>
            <span></span>
            <span></span>

            <!--Too bad the menu has to be inside of the button but hey, it's pure CSS magic.-->
            <ul id="menu">
                <li><a href="/auth/profile">Profile</a></li>
                <li><a href="/auth/hall-of-fame">Hall of Fame</a></li>
                <li><a href="#" onclick="document.logout.submit();return false;">Log out ({{.user_name}})</a></li>
            </ul>
        </div>
    </ul>
</nav>
<form method="POST" action="/auth/logout" style="display:none" name="logout">
    <input type="hidden" name="csrf_token" value="{{ .csrf_token }}">
</form>
{{ end }}