h5{
    color: white;
}

h6{
    color: white;
    font-size: 20px;
}

.edit-div{
    border: 2px solid white;
}

.username-div{
  display: flex;
  border-bottom: 2px solid white;
}

.username-header h6{
  margin-left: 30px;
  font-style: italic;
  margin-top: 10px;
}

.username{
  width: 400px;
}

.username h6{
  margin-left: 100px;
  margin-top: 10px;
}

.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-left: 140px;
  width: 60px;
  height: 30px;
  margin-top: 0;
}

.info {color: dodgerblue;}

.edit-username{
    margin-top: 0;
    margin-bottom: 10px;
}

.password-div{
  display: flex;
  border-bottom: 2px solid white;
}

.password-header h6{
  margin-left: 30px;
  font-style: italic;
  margin-top: 18px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 200px;
    height: 50px;
    margin-right: 0;
    margin-top: 5px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.card{
    background-color:  #101010;
    width: 100%;
    border-top: 2px solid white;
}

.card-header{
    padding: 0;
    display: flex;
    width: 100%;
    border-bottom: 2px solid white;
}

#smoke-header{
    width: 50%;
}

#smoke-button{
    width: 50%;
}

button{
    margin-top: 15px;
}

h2{
    color: white;
    font-size: 1.75rem;
}

label {
  font-size: 1rem;
  margin-left: 5px;
  color: white;
}

#input[type=text] {
  text-align: center;
}

#unamei {
    margin-top: 10px;
    text-align: center;
    margin-left: 16px;
}

#smoke-button{
    width: 50%;
    margin-left: 190px;
}

.edit-div h5{
    width: 80vw;
}